<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--Deployment Descriptor-->
    <display-name>ServletSessionExample</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>ForwardingMasterServlet</servlet-name>
        <servlet-class>com.example.servlets.ForwardingMasterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForwardingMasterServlet</servlet-name>
        <!--* is a Wildcard Character-->
        <url-pattern>*.pokemans</url-pattern>
        <url-pattern>/api/*</url-pattern>

        <!--Yes, you can have multiple URL patterns-->
        <url-pattern>/MasterServlet</url-pattern>
        <url-pattern>/trevin</url-pattern>
    </servlet-mapping>
</web-app>
