<app-nav></app-nav>
<br>
<br>
<router-outlet></router-outlet>


<!-- <header class='h1'>Hello, NG!</header>
{{ variableName }} == interpolation
<header class='h2'>This application is named: {{title}}</header>

<app-authors></app-authors>
<app-first></app-first>
<app-structural-directives></app-structural-directives>

<button (click)="show('structural')">Show Structural Directives</button>
<button (click)="show('attribute')">Show Attribute Directives</button>
<button (click)="show('pipes')">Show Pipes</button>
<button (click)="show('login')">Show Login</button>

<div *ngIf='showStructural'>
	<header class="h2">Structural Directives</header>
	<app-structural-directives></app-structural-directives>
</div>

<div *ngIf='showAttribute'>
	<header class="h2">Attribute Directives</header>
	<app-attribute-directives></app-attribute-directives>
</div>

<div *ngIf='showPipes'>
	<header class="h2">Pipes</header>
	<app-pipes></app-pipes>
</div>

<div *ngIf='showLogin'>
	<header class="h2">Login</header>
	<app-login></app-login>
</div> -->