<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>ControllerExample</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>ForwardingMasterServlet</servlet-name>
        <servlet-class>com.example.servlet.ForwardingMasterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForwardingMasterServlet</servlet-name>
        <url-pattern>/master</url-pattern>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JsonMasterServlet</servlet-name>
        <servlet-class>com.example.jsonservlet.JsonMasterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JsonMasterServlet</servlet-name>p
        <url-pattern>/json/*</url-pattern>
    </servlet-mapping>
</web-app>