<div *ngIf="condition">Condition met</div>
<div *ngIf="!condition">Condition not met</div>
<button (click)="changeCondition()">Change Condition</button>

<div *ngIf="anotherCondition">Another Condition met</div>
<div *ngIf="!anotherCondition">Another Condition not met</div>


<hr/>

<header class="h3">People</header>
<ul>
	<li *ngFor="let person of people">{{ person }}</li>
</ul>

<hr/>

<header class="h3">Monsters</header>
<table id="monsterTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th class="th-sm">Name
			</th>
			<th class="th-sm">Location
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let monster of monsters">
			<th>{{ monster.name }}</th>
			<th>{{ monster.location }}</th>
			<button *ngIf="monster.name == 'Godzilla'">GODZIRRA!</button>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th class="th-sm">Name
			</th>
			<th class="th-sm">Location
			</th>
		</tr>
	</tfoot>
</table>

<hr/>

<header class="h3">Day &amp; Night</header>
<div [ngSwitch]="time">
	<span *ngSwitchCase="'night'">
		It's night time!
		<button (click)="changeTimeOfDay('day')">Change to Day!</button>
	</span>
	<span *ngSwitchCase="'day'">
		It's day time!
		<button (click)="changeTimeOfDay('night')">Change to Night!</button>
	</span>
	<span *ngSwitchDefault>
		I don't know what time it is, there aren't any windows in this room.
		<br/>
		<button (click)="changeTimeOfDay('day')">Change to Day</button>
		<br/>
		<button (click)="changeTimeOfDay('night')">Change to Night!</button>
	</span>
</div>
